@font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    font-weight: 600;
    src: url(fonts/Gilroy-SemiBold.ttf);
}

:root {
    --transition-flow: cubic-bezier(0.19, 1, 0.22, 1);
    --background: #111111;
    --text: #ffffff;
}

*:not(head) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy;
    font-weight: 400;
    white-space: nowrap;
    color: var(--text);
    border-color: var(--text);
    box-sizing: border-box;
    transition-timing-function: var(--transition-flow);
    transition-property: all;
    transition-duration: 0.25s;
    scroll-behavior: smooth;
    margin: 0;
}

html {
    font-size: 22px;
}

body {
    background: var(--background);
    flex-direction: column;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
}

main {
    width: inherit;
    height: inherit;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    justify-items: end;
    width: inherit;
    height: fit-content;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    gap: 0.8rem;
    padding: 4rem 7rem 0;
}

#clickUpLogo,
#title,
#dateElement {
    grid-row: 1;
    font-size: 2rem;
}

#box {
    display: none;
    padding: 0.6rem 1.8rem;
    gap: 2.8rem;
}

#noData {
    display: none;
    font-size: 8rem;
    font-weight: 600;
    font-style: italic;
}

#profilePicture {
    border: 0.5rem solid;
    border-radius: 100%;
    width: 11rem;
}

#username {
    font-size: 4.5rem;
    font-weight: 600;
}

#dateElement {
    font-size: 1.4rem;
    margin-top: 7px;
}

#clickUpLogo {
    width: 12rem;
    margin-bottom: 4px;
}

.show {
    display: flex !important;
}
