@font-face {
    font-family: Gilroy-Regular;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(fonts/Gilroy-SemiBold.ttf);
}

:root {
    --clickup-bg: #17191c;
    --clickup-text: #535966;
    --text: #ffffff;
    --exponential: cubic-bezier(.19,1,.22,1);
}

*:not(head) {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Gilroy-Regular;
    font-size: 1vw;
    font-weight: normal;
    white-space: nowrap;

    color: var(--text);
    border-color: var(--text);

    box-sizing: border-box;

    transition-timing-function: var(--exponential);
    transition-property: all;
    transition-duration: 0.25s;

    scroll-behavior: smooth;
    margin: 0;
}

body {
    position: static;
    flex-direction: column;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    background: var(--clickup-bg);
}

main {
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    justify-items: end;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 0.8rem;
    padding: 4rem 7rem;
    justify-content: space-between;
}

header * {
    grid-row: 1;
    font-size: 2rem;
}

#tvBox {
    padding: 0.6rem 1.8rem;
    gap: 2.8rem;
    row-gap: 0.4rem;
}

.user-image {
    border-radius: 100%;
    width: 11rem;
    border: 0.5rem solid;
}

.user-name {
    font-size: 4.5rem;
    font-family: Gilroy-SemiBold;
}

#dateElement {
    font-size: 1.4rem;
    margin-top: 7px;
}

#clickUpLogo {
    width: 12rem;
    margin-bottom: 4px;
}

/* 
.test-line {
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    width: 100%;
    height: .1rem;
    border: 0;
    background: red;
    z-index: 100;
} */


iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}