:root {
    --transition-flow: cubic-bezier(0.19, 1, 0.22, 1);
    --background-color: hsl(0, 0%, 7%);
    --header-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 100%);
}

*,
::before,
::after {
    box-sizing: border-box;

    transition-timing-function: var(--exponential);
    transition-property: all;
    transition-duration: 0.4s;

    /* min-width: min-content; */

    color: var(--text-color);
    font-family: "Gilroy";
    font-size: 1rem;
    line-height: 1;

    scroll-behavior: smooth;
    margin: 0;
}

*:not(head, script) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background: var(--background-color);
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: inherit;
    height: inherit;
}

header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background: var(--border-color);
    padding: 2rem 6rem;
    border-bottom: 2px solid var(--header-color);
}

.logo-box {
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 8px;
}

#title {
    font-size: 2rem;
    font-weight: 400;
}

#assignee-box {
    display: none;
    flex-direction: row;
    position: relative;
    gap: 2.8rem;
}

#assignee-box::after {
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--background-color), var(--background-color));
    animation: fade-in 3s var(--transition-flow) both;
}

#loading-box {
    flex-direction: row;
    gap: 0.2rem;
}

#loading-box,
#error {
    display: none;
}

.ellipse {
    width: 2rem;
    aspect-ratio: 1;
    background: var(--text-color);
    border-radius: 100%;
    opacity: 0;
}

.active {
    opacity: 1 !important;
}

#portrait {
    width: 16rem;
    font-size: 4rem;
    font-weight: 600;
    border-radius: 100%;
    /* border: 0.8rem solid var(--text-color); */
}

#username,
#error {
    font-size: 7rem;
    font-weight: 700;
}

#date {
    font-size: 1.4rem;
    margin-top: 7px;
}

#click-up-logo {
    width: 12rem;
    margin-bottom: 6px;
}

.show {
    display: flex !important;
}

@keyframes fade-in {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}
